In [28]:
# List unique values using pandas data frame:

# Dictonary to Dataframe from a given class:
import pandas as pd

A = {'Student': ['Nikki', 'Roysden', 'Mervin', 'Friedland', 'Aron ', 'Wilkins'],
     'Subject': ['Science', 'Arts','Commerce', 'Business', 'Science', 'Business'],
     'Age':[23, 20, 20, 26, 19, 21], 'Grade':['A+','A','A+','A+','A-', 'A-']}

df = pd.DataFrame(A)

print(df.head(6))

# save this file to the memory path
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Colabfiles/GradeSheetStudents.txt')

     Student   Subject  Age Grade
0      Nikki   Science   23    A+
1    Roysden      Arts   20     A
2     Mervin  Commerce   20    A+
3  Friedland  Business   26    A+
4      Aron    Science   19    A-
5    Wilkins  Business   21    A-

In [29]:
 # will only shows the 'Age' column.
df['Age']

0    23
1    20
2    20
3    26
4    19
5    21
Name: Age, dtype: int64

In [30]:
# will only provide boolean values.
df['Grade']!='A'

0     True
1    False
2     True
3     True
4     True
5     True
Name: Grade, dtype: bool

In [32]:
# Find the table of students who didn't get 'A' Grade

df1 = df[df['Grade']!= 'A']
print('List of student who did not get Grade: A\n', df1)
df1.to_csv('/content/drive/MyDrive/Colab Notebooks/Colabfiles/Grade Sheet Who didnt got A.txt')

print("\nCall the dataframe from path:-")
df1.head()

List of student who did not get Grade: A
      Student   Subject  Age Grade
0      Nikki   Science   23    A+
2     Mervin  Commerce   20    A+
3  Friedland  Business   26    A+
4      Aron    Science   19    A-
5    Wilkins  Business   21    A-

Call the dataframe from path:-

     Student   Subject  Age Grade
0      Nikki   Science   23    A+
2     Mervin  Commerce   20    A+
3  Friedland  Business   26    A+
4      Aron    Science   19    A-
5    Wilkins  Business   21    A-

In [33]:
# Show the student list above 20s.
df2 = df[df["Age"]>20]
print("Show the student list above 20 years:\n",df2)

Show the student list above 20 years:
      Student   Subject  Age Grade
0      Nikki   Science   23    A+
3  Friedland  Business   26    A+
5    Wilkins  Business   21    A-