In [1]:
# Change Item Value: To change the value of a specific item, refer to the index number:
# Get your own Python Server : Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [2]:
# Change a Range of Item Values
 # To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new value
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [3]:
# If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

# Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [4]:
# If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

# Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [7]:

# Insert Items: To insert a new list item, without replacing any of the existing values, we can use the insert() method.

# The insert() method inserts an item at the specified index:

# Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)
thislist.insert(4,"orange")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'watermelon', 'cherry', 'orange']

In [9]:
# Append Items: To add an item to the end of the list, use the append() method:

# Get your own Python Server
# Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
thislist.append("watermelon")
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange', 'watermelon']