In [2]:
# Tuples are immutable:can't be changed the value from a declared tuple

tuple1 = ("Rock", 10, 12.5, 222)
tuple2 = tuple1 # Multiple names referring to the same object is known as aliasing.
tuple1 = tuple1 + ("Smith", 22)
print(tuple1, tuple2) # Because tuples are immutable, we can't.
# Therefore, tuple1 1 will not be affected by a change in tuple2 because the tuple is immutable i.e., we can't change it.

('Rock', 10, 12.5, 222, 'Smith', 22) ('Rock', 10, 12.5, 222)

In [36]:
# Complex data type: tuples among tuple
tuple1 = ("Rock", 10, 12.5, 222)
tuple2 = tuple1
tuple1 = tuple1 + ("Smith", 22)
print(tuple1) # Because tuples are immutable
print(tuple2)
t3 = ((tuple1, tuple2), "Age: 29", "Name: Simth",(1,2))
print(tuple1, tuple2,t3)
print('tuple1, tuple2,t3')
print(t3[1])
print(t3[2])
print(t3[3])
print(t3[0][1])
print(t3[0][1][2])
print(t3[0][1][:1])
print(t3[0][1][:2])
print(t3[0][1][:3])
print(t3[1][0])
print(t3[2][0])
print(t3[3][0])

('Rock', 10, 12.5, 222, 'Smith', 22)
('Rock', 10, 12.5, 222)
('Rock', 10, 12.5, 222, 'Smith', 22) ('Rock', 10, 12.5, 222) ((('Rock', 10, 12.5, 222, 'Smith', 22), ('Rock', 10, 12.5, 222)), 'Age: 29', 'Name: Simth', (1, 2))
tuple1, tuple2,t3
Age: 29
Name: Simth
(1, 2)
('Rock', 10, 12.5, 222)
12.5
('Rock',)
('Rock', 10)
('Rock', 10, 12.5)
A
N
1

In [38]:
t3.append(3)
print(t3)
# but

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
t3[0]="123"
print(t3)

TypeError: 'tuple' object does not support item assignment

In [40]:
t3.remove("Smith")
print(t3)

AttributeError: 'tuple' object has no attribute 'remove'

In [32]:
e# Lists are also a popular data structure in Python.
# In many respects lists are like tuples, one key difference is they are mutable.

L1 = [12, 12.3, "John", "Mike",["nested list",'str: 1', "float",23.5,"integer",3]]
L2 = L1
print(L1)
print(L2)
L1 = L1 + ["new list", "value1", 23]
L2.extend(['12345'])
print(L1)
print(L2)
print(L1[0])
print(L1[:4])
print(L1[4][:3])

[12, 12.3, 'John', 'Mike', ['nested list', 'str: 1', 'float', 23.5, 'integer', 3]]
[12, 12.3, 'John', 'Mike', ['nested list', 'str: 1', 'float', 23.5, 'integer', 3]]
[12, 12.3, 'John', 'Mike', ['nested list', 'str: 1', 'float', 23.5, 'integer', 3], 'new list', 'value1', 23]
[12, 12.3, 'John', 'Mike', ['nested list', 'str: 1', 'float', 23.5, 'integer', 3], '12345']
12
[12, 12.3, 'John', 'Mike']
['nested list', 'str: 1', 'float']

In [41]:
# How list are immutable?

# tuple doesn't have remove or change or data entry way by indicating index[][] number but list have:

L1 = [12, 12.3, "John", "Mike",["nested list",'str: 1', "float",23.5,"integer",3]]
L1.extend(["John",10])
print(L1)
L1.append(3)
print(L1)
# but
L1[0]="123"
print(L1)

[12, 12.3, 'John', 'Mike', ['nested list', 'str: 1', 'float', 23.5, 'integer', 3], 'John', 10]
[12, 12.3, 'John', 'Mike', ['nested list', 'str: 1', 'float', 23.5, 'integer', 3], 'John', 10, 3]
['123', 12.3, 'John', 'Mike', ['nested list', 'str: 1', 'float', 23.5, 'integer', 3], 'John', 10, 3]

In [47]:
# tuple doesn't have remove or change or data entry way by indicating index[][] number but list have:
del(L1[4])
print(L1)

['123', 12.3, 'John', ['nested list', 'str: 1', 'float', 23.5, 'integer', 3]]

In [51]:
s = " We never bow down to anyone except Allah"
s.split(",")
print(s)

 We never bow down to anyone except Allah

In [56]:
help(s)

No Python documentation found for 'We never bow down to anyone except Allah'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.