In [1]:
# Sets are type of collection:  This means that like lists and tuples, you can input different python types.
 # Unlike lists and tuples they are unordered: this means there is only one of a particular element in a set.

 # To define a set, we use curly { } bracket.

set1 = {"pop","soul","rock","hard rock","rock"} # you notice there are duplicate items.

print(set1) # When the actual set is created, duplicate items will not be present.

{'pop', 'hard rock', 'rock', 'soul'}

In [4]:

# You can convert a list to a set by using the function set; this is called type-casting.

Surah_list = ["Al-Fatiha","Al-Baqara","Al-Imran","An-Nisa","Al-Fatiha", "Al-Baqara"]
Surah_set = set(Surah_list) # list to set convertion ( NB: set will have sorted data as well)
Surah_set

{'Al-Baqara', 'Al-Fatiha', 'Al-Imran', 'An-Nisa'}

In [10]:

# We can add an item to a set using the add method.
Surah_set
Surah_set.add("Al-Rahman")
Surah_set

{'Al-Baqara', 'Al-Fatiha', 'Al-Imran', 'Al-Rahman', 'An-Nisa'}

In [17]:
# We can also remove an item from a set using the remove method.
Surah_set.discard('Al-Fatiha')
New_set = Surah_set
New_set

{'Al-Baqara', 'Al-Imran', 'Al-Rahman', 'An-Nisa'}

In [8]:
# we verify element is present or not:
New_set = {'Al-Baqara', 'Al-Imran', 'Al-Rahman', 'An-Nisa'}
if 'Al-Baqara' in New_set:
  print("Element found.")
else:
  print("Element not found")

"Al-Baqara" in New_set # not showing in output section
"No" in New_set

Element found.

False

In [11]:
# The intersection of two sets: &
Surah_set = {'Al-Baqara', 'Al-Fatiha', 'Al-Imran', 'Al-Rahman', 'An-Nisa'}
S = New_set & Surah_set
S

{'Al-Baqara', 'Al-Imran', 'Al-Rahman', 'An-Nisa'}

In [12]:
# The union of two sets: set1.union(set2)
Surah_set.union(New_set)
Surah_set

{'Al-Baqara', 'Al-Fatiha', 'Al-Imran', 'Al-Rahman', 'An-Nisa'}