In [1]:
# What is the value of the variable a after the following code is executed?
# Write your code below and press Shift+Enter to execute

a = "1"
a

'1'

In [2]:
# Use a stride value of 2 to print out every second character of the string e:
e = 'clocrkr1e1c1t'
print(e[::2])

correct

In [5]:
# Print out a backslash:
print('\\')

\

In [6]:
# Convert the variable f to uppercase:
f = "You are wrong"
print(f.upper())

YOU ARE WRONG

In [19]:
# onsider the variable g, and find the first index of the sub-string snow:

# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb,\d little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

# In the variable g, replace the sub-string Mary with Bob:
print(g.replace("Mary","Bob"))

Bob had a little lamb Little lamb,\d little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go

In [13]:
# In the variable g, replace the sub-string , with .:
print(g.replace(",","."))

Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go

In [14]:
# In the variable g, split the substring to list:
print(g.split())

['Mary', 'had', 'a', 'little', 'lamb', 'Little', 'lamb,', 'little', 'lamb', 'Mary', 'had', 'a', 'little', 'lamb', 'Its', 'fleece', 'was', 'white', 'as', 'snow', 'And', 'everywhere', 'that', 'Mary', 'went', 'Mary', 'went,', 'Mary', 'went', 'Everywhere', 'that', 'Mary', 'went', 'The', 'lamb', 'was', 'sure', 'to', 'go']

In [27]:
# In the string s3, find the four consicutive digit character using \d and search() function:
s3 = "House number- 1105"
x = s3.find("1105")
print(x)
x = s3.find("Hou")
print(x)

# Use the search() function to search for the "\d" in the string
import re
result = re.search("\d", s3)

# Check if a match was found
if result:
  print("Digit found")
else:
  print("Digit not found.")

14
0
Digit found

In [31]:
# In the string str1, replace the sub-string fox with bear using sub() function:
str1= "The quick brown fox jumps over the lazy dog."

# Write your code below and press Shift+Enter to execute
str2 = str1.replace("fox","bear")
print(str2)
str3 = re.sub(r"fox","bear",str1)
print(str3)

The quick brown bear jumps over the lazy dog.
The quick brown bear jumps over the lazy dog.

In [34]:
# In the string str2 find all the occurrences of woo using findall() function:
str4= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

x = re.findall(r"woo",str4)
print(x)

['woo', 'woo', 'woo', 'woo']